<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
 
 
 	<beans:bean id="hangAuthenticationProvider" class="com.ma.hang.security.provider.HangAuthenticationProvider"/>

	<http auto-config="true">
		<intercept-url pattern="/" access="ROLE_USER,ROLE_ADMIN" />
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/dashboard/**" access="ROLE_USER,ROLE_ADMIN" />
		<intercept-url pattern="/stores/**" access="ROLE_USER,ROLE_ADMIN" />
		<intercept-url pattern="/suppliers/**" access="ROLE_USER,ROLE_ADMIN" />
		<form-login 
		    login-page="/login" 
		    default-target-url="/dashboard" 
			authentication-failure-url="/login?error" 
			username-parameter="email"
			password-parameter="password" />
		<logout logout-success-url="/login?logout" />
		<!-- enable csrf protection -->
		<csrf/>
	</http>

    <authentication-manager>
        <authentication-provider ref="hangAuthenticationProvider" />
    </authentication-manager>
</beans:beans>